body {
	font-family: 'Gentium Book Basic', serif;
	margin: 0;
	height: 100%; 
	font-size: 20;
}

#colors {
	background-color: #f57a7a;
	/*pink*/
	background-color: #ebe4e8; 
	/*gray-ish purple*/
	color: #d4c5d4;
	/*lavendar*/
	color: #ba3747;
	/*reddish*/
	color: #fac461;
	/*yellow*/
	color: #dbc5ba;
	/*brown?*/
}

#header {
	z-index:2;
	font-family: 'Oswald', sans-serif;
	color: #ebe4e8; 
	position: fixed;
	display:inline-block;
	width:100%;
	background-color: #f57a7a;
	padding:20 25;
}


#header2 {
	font-family: 'Oswald', sans-serif;
	color: #ebe4e8; 
	position: fixed;
	display:inline-block;
	width:100%;
	background-color: #f57a7a;
	padding:20 25;
	height:20px;
}

#nameplate {
	float: left;
	padding-left:50;
	padding-top: 25;
	padding-bottom: 25;
	font-size: 72;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;	
}

#nameplate.scrolled{
	font-size:20px;
}

#nameplate a {
	text-decoration: none;
	color:inherit;
}
#nameplate:hover {
	color: #fac461;
}

#menu { 
	color:#ba3747;
	position: relative;
	display:inline-block;
	float: left;
	padding-left:150;
	padding-top:25;
	width:100px;
	height:100%;
}


.menu-item {
	width:100px;
	display:inline-block;
	padding-right: 50px;
	font:50px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menu-item:hover {
	color:#fac461;
}

.menu-item a {
	text-decoration: none;
	color:inherit;
}

.menu-item2 {
	margin-left: 40;
	padding: 0 20 0;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	display:inline-block;
	left: 20;
}
.menu-item2:hover {
	color:#fac461;
}

.menu-item2 a {
	text-decoration: none;
	color:inherit;
}

#content {
	padding-top:200px;
	width:100%;
	height:100%;
	margin-left: 50;
	margin-right:50;
}

.button {
	text-align: center;
	padding:10px;
	border-radius: 10;
	background-color: #ba3747;
	color:#dbc5ba;
	margin-left: 10px;
}
.button a {
	text-decoration: none;
	color:inherit;
}
.button:hover {
	color: #f57a7a;
}

#paragraph {
	background-color: #fac461;
	padding: 25px 50px 25px;
	display:inline-block;

}