<html>
  <head>
    <link rel="icon" type="image/x-icon" href="ico/favicon.ico" />
    <link rel="icon" type="image/png" href="ico/favicon.png" />
    <title>HINA'S PROJECTS</title>
    <link rel="stylesheet" type="text/css" href="css/projects.css">

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium Book Basic' rel='stylesheet' type='text/css'>

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/hinasakazaki.js"></script>
  

  </head>

    <div id = "header">
        <div id="nameplate"> <a href = "index.html"> HINASAKAZAKI </a> </div>

        <div id="menu">
          <div class="menu-item"> <a href = "projects.html"> projects. </a> </div>
          <div class="menu-item"> <a href = "comix.html"> webcomics. </a> </div>
          <div class="menu-item"> <a href = "fotos.html"> photography. </a> </div>
          <div class="menu-item"> <a href = "contact.html"> contact. </a> </div>
        </div>

    </div>

    <div id = "header2">
          <div class="menu-item2"> <a href = "index.html"> hinasakazaki. </a> </div>
          <div class="menu-item2"> <a href = "projects.html"> projects. </a> </div>
          <div class="menu-item2"> <a href = "../comix/5.html"> webcomics. </a> </div>
          <div class="menu-item2"> <a href = "fotos.html"> photography. </a> </div>
          <div class="menu-item2"> <a href = "contact.html"> contact. </a> </div>
    </div>

    <body>
      <div id = "projects-container">

   <div class = "project">
        <div class = "link">
        <a href = "http://hinerz.itch.io/for-our-fragile-worlds">
          <div class= "pink-block">
            <div class = "pinktext">
              View Page
            </div>
            <div id="hinerz">
            <img src="img/projects/fofw.png" alt="@for our fragile worlds" height= "250" width="250">
            </div>
          </div>
          </a>
          </div>
          <div class= "description">
              <div class = "title"> LUDUM DARE 30: FOR OUR FRAGILE WORLDS </div> <div class = "details">  My first Ludum Dare game. Developed over a span of 72 hours -- most of it spent traveling and touring Pasadena to visit my sister at Caltech. The game is an exploration focused 2d platformer, with a "threading" mechanic to stitch the holes made by another world to connect to our world.</div>
          </div>
        </div>

        <div class = "project">
        <div class = "link">
        <a href = "videogamedecal.html">
          <div class= "pink-block">
            <div class = "pinktext">
              View Page
            </div>
            <div id="hinerz">
            <img src="img/projects/vgay.png" alt="@videogamesandyou" height= "250" width="250">
            </div>
          </div>
          </a>
          </div>
          <div class= "description">
              <div class = "title"> VIDEO GAMES AND YOU: THE PLAYER'S PERSPECTIVE </div> <div class = "details">  Calvin 'Kirbikaka' Lu and I have started and have teached two semesters of our original decal, called "Video Games and You: The Player's Perspective." We have about 20 to 30 students each semester, who passionately discuss what makes video games fun, and what the social consequences of video games are. Our 13 week class is designed so each session is focus on a theme, such as "Controls, Gameplay, and Interaction," "E-Sports," "Game Psychology," "Maps and Level Design," "Gaming Culture,
            " and "Gamification." </div>
          </div>
        </div>
       

      	<div class = "project">
        <div class = "link">
        <a href = "https://github.com/hinasakazaki/Super-Sushi-Master">
      		<div class= "yellow-block">
            <div class = "yellowtext">
              View on Github
            </div>
            <div id = "hinerz">
      			<img src="img/projects/ssm.png" alt="@supersushimaster" height= "250" width="250">
            </div>
      		</div>
          </a>
          </div>

          <div class= "description">
              <div class = "title"> SUPER SUSHI MASTER </div> <div class = "details">  Spring 2014 Hackathon Project, javascript sidescroller where players collect ingredients for sushi and experience the psychedelic effects of each type of sushi. Used Quintus API. Demo video <div class = "link"> <a href= "https://www.youtube.com/watch?v=OlcREE6-PgY&list=UUyverbT9LAXf-wdu_dc8f8w"> here. </a> </div> </div>
          </div>
        </div>

        <div class = "project">
        <div class = "link">
        <a href = "https://github.com/hinasakazaki/Lost-Soul">
      		<div class = "red-block">
      			<div class = "redtext">
      				View on Github
      			</div>
      			 <div id = "hinerz">
      			 	<img src="img/projects/lostsoul.png" alt="@swaggerzaki" height= "250" width="250"> 
      	     </div>
          </div>
          </a>
          </div>

          <div class="description"> <div class = "title"> LOST SOUL </div> <div class = "details"> Fall 2013 Hackathon project, Android Pixel art location game thing. Player sets locations as their "Soul places" where they can feel truly at home (Friend's house, a park, a bar). When they feel lost, they see their "Soul" walking relative to their "Soul places." Used Google Location API. Demo video <div class = "link"> <a href= "http://www.youtube.com/watch?v=ZcEwAw-RKSw"> here. </a> </div> </div>
          </div>
        </div>

      	<div class = "project">
          <div class = "link">
          <a href = "https://github.com/hinasakazaki/SupplyAndApply">
          <div class = "pink-block">
            <div class = "pinktext">
              View on Github
            </div>
              <div id ="hinerz">
              <img src="img/projects/supplyandapply.png" alt="@supplyandapply" height= "250" width="250"> 
              </div>
              </div>
              </a>
          </div>

          <div class="description"> <div class = "title"> SUPPLY AND APPLY </div> <div class = "details"> CS 160 Android Task/Supply/Job organization app for Plumbers. Demo video <div class = "link"> <a href= "https://www.youtube.com/watch?v=miXRei9Cl1k"> here. </a>  </div> Went through interviews, prototyping, user experience surveys to figure out the perfect Android App for plumbers. Some tasks include starting a job and adding appliances that need to fixed at a certain location, estimating number of parts to be ordered for the job, and keeping track of what tasks are finished and what parts are left. The app goes through the workflow of adding a new job, adding the appliances that need to be fixed, and ultimately get the estimation of parts needed to complete the job.</div> </div>
         
        </div>
    </div>
  
	  <div id="footer">
	  &copy; Hina Sakazaki 2014
	  </div>
	  </body>


</html>
